/* General font style */
@font-face {
    font-family: 'Playfair Display SC', serif;
    src: url(PlayfairDisplaySC-Regular.ttf);
    font-family: 'M PLUS 1p', sans-serif;
    src: url(MPLUS1p-Light.ttf)
}
/* Page container and content style */
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 70%;
  }

/* Link style */
a:link {
    text-decoration: none;
    color: #010101;
}

a:visited {
    text-decoration: none;
    color: #010101;
}

a:hover {
    text-decoration: none;
    color: #9C0F48;
}

a:active {
    text-decoration: none;
    color: #010101;
}

/* index.html body style */
#index {
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-image: url("images/aesthetic_coffee.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* roastery.html body style */
#roastery {
    padding:0;
    margin:0;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}

/* about_us.html body style */
#about_us {
    padding:0;
    margin:0;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}

/* wholesale.html picture style */
#wholesale_pic {
    background-repeat: no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

/* thank_you.html body style */
#thank-you {
    padding:0;
    margin:0;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}

#t-you {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin-top: 150px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

/* contact.html body style */
#contact {
    padding:0;
    margin:0;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}

/* Order, wholesale form */
#order_form, #wholesale_form {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #F9E4D4;
    padding-top: 30px;
    padding-bottom: 30px;
}

#order-head {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

/* Input container style */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Form icon style */
.icon {
    padding: 10px;
    background: #F9E4D4;
    color: #010101;
    min-width: 50px;
    text-align: center;
}

/* Input fields style */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #F9E4D4;
}

/* Checkbox style */
input[type=checkbox] {
    margin-bottom: 16px;
}

/* Order button style */
.btn {
    background-color: #F9E4D4;
    color: #010101;
    padding: 15px;
    border: 1px solid #010101;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #fff;
}

/* Main heading style */
h1 {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

/* Subheading style */
h4 {
    font-family: 'M PLUS 1p', sans-serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
}

/* Nav style */
.nav-row {
    width: 100%;
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-row h5 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

/* roastery.html, about.html content style */
.roastery_wrapper, .about_wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

#roastery_heading, #about_heading {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
}

#roastery_txt1, #about_txt1 {
    width: 50%;
    padding-bottom: 90px;
}

#roastery_pic1, #about_pic1 {
    background-repeat: no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#roastery_txt2, #about_txt2 {
    width: 50%;
    padding-bottom: 90px;
    padding-top: 90px;
}

#roastery_pic2, #about_pic2 {
    background-repeat: no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

/* Footer style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    list-style: none;
    line-height: 3;
}

.footer {
    background-color: #F9E4D4;
    padding: 70px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 20%;
    padding: 0px 30px 0px 30px;
}

.footer-col h5 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    display: block;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 0px;
}

/* Responsive style */
@media(max-width: 600px) {

    .nav-row {
        width: 30%;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        padding-left: 50%;
    }

    .nav-row h5 {
        background-color: #F9E4D4;
        border-radius: 5%;
    }

    .roastery_wrapper {
        height: 100%; 
    }
      
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}