/* General font style */
@font-face {
    font-family: 'Playfair Display SC', serif;
    src: url(PlayfairDisplaySC-Regular.ttf);
    font-family: 'M PLUS 1p', sans-serif;
    src: url(MPLUS1p-Light.ttf)
}
/* Page container and content style */
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 1000px;
  }

/* Link style */
a:link {
    text-decoration: none;
    color: #010101;
}

a:visited {
    text-decoration: none;
    color: #010101;
}

a:hover {
    text-decoration: none;
    color: #9C0F48;
}

a:active {
    text-decoration: none;
    color: #010101;
}

/* index.html body style */
#index {
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-image: url("images/aesthetic_coffee.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* about.html body style */
#about {
    padding:0;
    margin:0;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}

/* Main heading style */
h1 {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

/* Subheading style */
h4 {
    font-family: 'M PLUS 1p', sans-serif;
    color: #010101;
    background-color: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
}

/* Nav style */
.nav-row {
    width: 100%;
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-row h5 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

/* about.html content style */
.about_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#about_heading {
    font-family: 'Playfair Display SC', serif;
    color: #010101;
    background-color: none;
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    padding-left: 30px;
}

#about_txt1 {
    width: 393px;
    height: 429px;
    padding: 30px 30px 60px 30px;
    
}

#about_pic1 {
    width: 887px;
    height: 485px;
    
    padding-left: 200px;
}

#about_txt2 {
    padding: 30px 30px 60px 30px;
    
}

#about_pic2 {
    width: 887px;
    height: 485px;
    
}

/* Footer style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    list-style: none;
    line-height: 3;
}

.footer {
    background-color: #F9E4D4;
    padding: 70px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 20%;
    padding: 0px 30px 0px 30px;
}

.footer-col h5 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    display: block;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 0px;
}

/* Responsive style */
@media(max-width: 700px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .nav-row {
        width: 30%;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        padding-left: 50%;
    }

    .nav-row h5 {
        background-color: #fff;
        border-radius: 5%;
    }
}